{% extends 'base.html.twig' %}



 {% block main %}
<h2>Mon Profil</h2>
<ul>
  <li>Nom : {{ user.nom }}</li>
  <li>Email : {{ user.email }}</li>
  <li>Adresse postale : {{ user.adressePostale }}</li>
  <li>Téléphone : {{ user.telephone }}</li>
  <li>Adresse de livraison : {{ user.adresseLivraison }}</li>
</ul>

<h3>Mes commandes</h3>
<ul>
  {% for commande in commandes %}
    <li>Commande n°{{ commande.id }} - {{ commande.date|date('d/m/Y') }} - {{ commande.total }} €</li>
  {% endfor %}
</ul>

{% if is_granted('ROLE_ADMIN') %}
  <h3>Commandes clients</h3>
  <ul>
    {% for commande in commandesClients %}
      <li>{{ commande.user.nom }} - {{ commande.total }} € - {{ commande.date|date('d/m/Y') }}</li>
    {% endfor %}
  </ul>
  <h3>Bénéfices par jour</h3>
  <ul>
    {% for jour, benefice in benefices %}
      <li>{{ jour }} : {{ benefice }} €</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
